-- DropForeignKey
ALTER TABLE "EmailCampaign" DROP CONSTRAINT "EmailCampaign_templateId_fkey";

-- DropForeignKey
ALTER TABLE "FcmToken" DROP CONSTRAINT "FcmToken_user_email_fkey";

-- AlterTable
ALTER TABLE "Contact" DROP COLUMN "meta_form_name";

-- AlterTable
ALTER TABLE "Reservation" ADD COLUMN     "is_legacy" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "is_promo" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "legacy_current_installment" INTEGER,
ADD COLUMN     "legacy_debt_start_date" TIMESTAMP(3),
ADD COLUMN     "legacy_installment_ranges" JSONB,
ADD COLUMN     "legacy_installment_start_date" TIMESTAMP(3),
ADD COLUMN     "legacy_uploaded_contracts" TEXT,
ADD COLUMN     "manual_documents" JSONB,
ADD COLUMN     "mora_frozen" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "workflow_activated" BOOLEAN NOT NULL DEFAULT true,
ALTER COLUMN "pipeline_stage" SET DEFAULT 'RESERVA_PAGADA';

-- DropTable
DROP TABLE "EmailCampaign";

-- DropTable
DROP TABLE "EmailTemplate";

-- DropTable
DROP TABLE "FcmToken";

-- DropTable
DROP TABLE "leads";

-- DropTable
DROP TABLE "newsletter_subscribers";

